<div class="starter-template">
  <h1>Movies List</h1>
  <p class="lead">Use this list to view movie information. Click a movie for more details!</p>
</div>
<div class="panel panel-primary">
  <div class="panel-heading">Filter</div>
  <div class="panel-body">
    <div class="col-md-12">To filter movies list enter partial text in one or more of the following forms:</div>
    <div class="col-md-3">Country: <input ng-model="searchCountry"></div>
    <div class="col-md-3">Writer: <input ng-model="searchWriter"></div>
    <div class="col-md-3">Genre: <input ng-model="searchGenre"></div>
  </div>
</div>

<ul class="list-group">
  <li class="list-group-item" ng-repeat="movie in movies | orderBy:orderByColumn:direction | movieFilter:searchCountry:searchWriter:searchGenre" ng-click="movie.hidedetails=!movie.hidedetails">
    <div class="row">
      <h3 class="col-md-12">{{ movie.Title }}</h3>
    </div>
    <div class="row">
      <div ng-show="searchCountry">
        <label class="col-md-2">Country hits:</label>
        <span ng-bind-html="movie.Country|highlight:searchCountry"></span>
      </div>
    </div>
    <div class="row">
      <div ng-show="searchWriter" >
        <label class="col-md-2">Writer hits:</label>
        <span ng-bind-html="movie.Writer|highlight:searchWriter"></span>
      </div>
    </div>
    <div class="row">
      <div ng-show="searchGenre" >
        <label class="col-md-2">Search hits:</label>
        <span ng-bind-html="movie.Genre|highlight:searchGenre"></span>
      </div>
    </div>
    <div ng-show="movie.hidedetails===true">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-9">
          <div class="row">
            <label class="col-md-2">Actors</label>
            <div class="col-md-7">{{ movie.Actors }}</div>
          </div>
          <div class="row">
            <label class="col-md-2 movies-propertyname">Year</label>
            <div class="col-md-2">{{ movie.Year }}</div>
            <label class="col-md-2 movies-propertyname">Released</label>
            <div class="col-md-3">{{ movie.Released }}</div>
          </div>
          <div class="row">
            <label class="col-md-2 movies-propertyname">Runtime</label>
            <div class="col-md-2">{{ movie.Runtime }}</div>
            <label class="col-md-2 movies-propertyname">Genre</label>
            <div class="col-md-6">{{ movie.Genre }}</div>
          </div>
          <div class="row">
            <label class="col-md-2 movies-propertyname">Director</label>
            <div class="col-md-2">{{ movie.Director }}</div>
            <label class="col-md-2 movies-propertyname">Rated</label>
            <div class="col-md-2">{{ movie.Rated }}</div>
          </div>
          <div class="row">
            <label class="col-md-2 movies-propertyname">Writer</label>
            <div class="col-md-10">{{ movie.Writer }}</div>
          </div>
          <div class="row">
            <label class="col-md-2 movies-propertyname">Country</label>
            <div class="col-md-2">{{ movie.Country }}</div>
            <div class="col-md-2 movies-propertyname">Language</div>
            <div class="col-md-6">{{ movie.Language }}</div>
          </div>
          <div class="row">
            <div class="col-md-2 movies-propertyname">Type</div>
            <div class="col-md-2">{{ movie.Type }}</div>
            <div class="col-md-2 movies-propertyname">Metascore</div>
            <div class="col-md-2">{{ movie.Metascore }}</div>
            <!-- Perceived as an internal data not suitable for end user
            <div class="col-md-2 movies-propertyname">Response</div>
            <div class="col-md-2">{{ movie.Response }}</div>
            -->
          </div>
          <div class="row">
            <div class="col-md-2 movies-propertyname">Imdb</div>
            <div class="col-md-2 ">Rating: {{ movie.imdbRating }}</div>
            <div class="col-md-2 ">Votes: {{ movie.imdbVotes }}</div>
            <div class="col-md-6 ">ID: {{ movie.imdbID }}</div>
          </div>
          <div class="row">
            <div class="col-md-2 movies-propertyname">Awards</div>
            <div class="col-md-10">{{ movie.Awards }}</div>
          </div>
          <div class="row">
            <div class="col-md-2 movies-propertyname">Plot</div>
            <div class="col-md-10">{{ movie.Plot }}</div>
          </div>
        </div>
        <div class="col-md-2" ng-show="movie.Poster" >
          <a href="{{ movie.Poster }}">
            <img class="img-thumbnail mx-1 movie-image" src="{{ movie.Poster }}"></img>
          </a>
        </div>
      </div>
      <div>
        <div>
      </div>
  </li>
</ul>
