
      <div class="starter-template">
        <h1>Movies table</h1>
        <p class="lead">Use this table to view and filter/sort data</p>
      </div>
      <table class="table table-striped table-hover table-responsive table-bordered">
        <thead>
          <th ng-click="orderBy('Title')">Title <span class="glyphicon glyphicon-sort"></span></th>
          <th ng-click="orderBy('Year')" class="movies-table-header">Year <span class="glyphicon glyphicon-sort"></span></th>
          <th ng-click="orderBy('Rated')" class="movies-table-header">Rated <span class="glyphicon glyphicon-sort"></span></th>
          <th ng-click="orderBy('Released')" class="movies-table-header">Released <span class="glyphicon glyphicon-sort"></span></th>
          <th ng-click="orderBy('Runtime')" class="movies-table-header">Runtime <span class="glyphicon glyphicon-sort"></span></th>
          <th ng-click="orderBy('Genre')" class="movies-table-header">Genre <span class="glyphicon glyphicon-sort"></span></th>

          <th ng-click="orderBy('Director')" class="movies-table-header">Director <span class="glyphicon glyphicon-sort"></span></th>
          <th ng-click="orderBy('Writer')" class="movies-table-header">Writer <span class="glyphicon glyphicon-sort"></span></th>
          <th ng-click="orderBy('Actors')" class="movies-table-header">Actors <span class="glyphicon glyphicon-sort"></span></th>
          <th ng-click="orderBy('Plot')"  class="movies-table-header" style="min-width:200px">Plot <span class="glyphicon glyphicon-sort"></span></th>
          <th ng-click="orderBy('Language')" class="movies-table-header">Language <span class="glyphicon glyphicon-sort"></span></th>
          <th ng-click="orderBy('Country')" class="movies-table-header">Country <span class="glyphicon glyphicon-sort"></span></th>

          <th ng-click="orderBy('Awards')" class="movies-table-header">Awards <span class="glyphicon glyphicon-sort"></span></th>
          <th>Poster</th>
          <th ng-click="orderBy('Metascore')" class="movies-table-header">Metascore <span class="glyphicon glyphicon-sort"></span></th>
          <th ng-click="orderBy('imdbRating')" class="movies-table-header">imdbRating <span class="glyphicon glyphicon-sort"></span></th>
          <th ng-click="orderBy('imdbVotes')" class="movies-table-header">imdbVotes <span class="glyphicon glyphicon-sort"></span></th>
          <th ng-click="orderBy('imdbId')" class="movies-table-header">imdbID <span class="glyphicon glyphicon-sort"></span></th>

          <th>Type</th>
          <th>Response</th>
        </thead>
        <tbody>
          <tr ng-repeat="movie in movies | orderBy:orderByColumn:direction ">
            <td>{{ movie.Title }}</td>
            <td>{{ movie.Year }}</td>
            <td>{{ movie.Rated }}</td>
            <td>{{ movie.Released }}</td>
            <td>{{ movie.Runtime }}</td>
            <td>{{ movie.Genre }}</td>

            <td>{{ movie.Director }}</td>
            <td>{{ movie.Writer }}</td>
            <td>{{ movie.Actors }}</td>
            <td style="min-width:200px">{{ movie.Plot }}</td>
            <td>{{ movie.Language }}</td>
            <td>{{ movie.Country }}</td>

            <td>{{ movie.Awards }}</td>
            <td>
              <img style="min-width:100px" class="img-thumbnail mx-1 movie-image" ng-src="{{movie.Poster}}"></img>
            </td>
            <td>{{ movie.Metascore }}</td>
            <td>{{ movie.imdbRating }}</td>
            <td>{{ movie.imdbVotes }}</td>
            <td>{{ movie.imdbID }}</td>

            <td>{{ movie.Type }}</td>
            <td>{{ movie.Response }}</td>
          </tr>
        </tbody>
      </table>
